body {
    background-color: cornflowerblue;
}

.input-field {
    display: block;
    margin:6rem 30% 2rem 30%;
}

.main-image, .first-rel, .second-rel, .third-rel{
    display:block;
    margin:0 auto;
    max-width: 10rem;
    border-radius: 100%;
}


.container{
    margin-left: 20%;
    margin-right: 20%;
}